# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  imageName: 'cucumber:$(build.buildId)'

steps:
- script: 'docker build -t $(imageName) .'
  displayName: 'Build Docker Image'

- script: 'docker run --name cucumber $(imageName)'
  displayName: 'Run the Docker Image'

- script: 'docker cp cucumber:/home/gradle/src/build .'
  displayName: 'Copy the test results off the docker container'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Cucumber HTML report'
  inputs:
    pathtoPublish: 'build/cucumber-html-reports'
    artifactName: cucumber-html-reports

- task: PublishBuildArtifacts@1
  displayName: 'Publish Dependency Check Reports'
  inputs:
    pathtoPublish: 'build/reports'
    artifactName: reports

- task: PublishBuildArtifacts@1
  displayName: 'Publish JUnit test results'
  inputs:
    pathtoPublish: 'build/test-results'
    artifactName: test-results

# Publish Test Results
# Publish Test Results to Azure Pipelines/TFS
- task: PublishTestResults@2
  displayName: 'Parse test results'
  inputs:
    testResultsFiles: |
      **/TEST-*.xml
      !**/TEST-com.agilitas.example.RunCukesTest.xml
    #searchFolder: '$(System.DefaultWorkingDirectory)' # Optional
    #mergeTestResults: false # Optional
    #testRunTitle: # Optional
    #buildPlatform: # Optional
    #buildConfiguration: # Optional
    #publishRunAttachments: true # Optional